// SPDX-License-Identifier: BSD-3-Clause
/*
 * MSM8953 BQ Aquaris X specific device tree
 *
 * Copyright (c) 2023, Jens Reidel <adrian@travitia.xyz>
 */

/dts-v1/;

#include "msm8953-bq-common.dtsi"

/ {
	/*
	 * BQ Aquaris X
	 */
	model = "BQ Aquaris X";
	compatible = "bq,bardock", "qcom,msm8953";
};

&battery {
	charge-full-design-microamp-hours = <3100000>;
	constant-charge-current-max-microamp = <1000000>;
	voltage-min-design-microvolt = <3400000>;
	voltage-max-design-microvolt = <4400000>;
};

/*
&sound_card {
	status = "okay";

	model = "bq-bardock";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cdc_pdm_lines_act
		&cdc_pdm_lines_2_act
		&cdc_pdm_comp_lines_act
		&tlmm_pri_act
		&tlmm_pri_ws_default>;
	pinctrl-1 = <&cdc_pdm_lines_sus
		&cdc_pdm_lines_2_sus
		&cdc_pdm_comp_lines_sus
		&tlmm_pri_sus
		&tlmm_pri_ws_default>;

	aux-devs = <&headphones_amp>;
	audio-routing =
		"AMIC1", "MIC BIAS External1",
		"AMIC2", "MIC BIAS Internal2",
		"AMIC3", "MIC BIAS External1",
		"MM_DL1", "MultiMedia1 Playback",
		"MM_DL3", "MultiMedia3 Playback",
		"MM_DL4", "MultiMedia4 Playback",
		"MultiMedia2 Capture", "MM_UL2";

	quinary-mi2s-dai-link {
		link-name = "Quinary MI2S";
		cpu {
			sound-dai = <&q6afedai QUINARY_MI2S_RX>;
		};

		platform {
			sound-dai = <&q6routing>;
		};

		codec {
			sound-dai = <&max98927_codec>;
		};
	};
};
*/
